.genre-dialog .mat-dialog-container {
  width: 500px;
  min-width: 250px;
  background: #fcdef0;

  }
  
  .genre-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    margin: 0 auto;
    padding-bottom: 25px;
  }
  
  #button {
    align-self: flex-end;
    color: white;
    background-color: #ecb7bf;
  }

  .genre-container h1 {
    color: black;
    align-self: center;
  }
  
  .genre-container p {
    color: black;
  }
  
  .info {
    font-size: 14px;
  }