.movies-container {
    padding: 5%;
    display: grid;
    grid-template-columns: repeat( auto-fit, minmax(250px, 1fr) );
    gap: 16px;
  }


.card {
    padding: 18px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #fcdef0;
}

.image {
    border-radius: 5px;
    margin: 0 auto;
    max-width: 100%;
    height: 300px;
    object-fit: cover;
    object-position: top;
}

.actions {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: 6px;
}


#button {
    background-color: #b44772;
    color: white;
    padding: 5px;
    margin-left: 8px;
}


#mat-icon {
    color: #ff80ce;
    right: 2px; 
    top: 2px; 
    position: absolute; 
    padding: 8px; 
    cursor: pointer;
}