.update-container {
    text-align: center;
    width: 80%;
}

.title {
   text-align: center;
   margin-top: 20px;
   padding-left: 25px;
}

.button {
    background-color: #b44772;
    color: white;
}