h2 {
    margin-top: 50px;
    text-align: center;
    font-size: 30px;
  }
  
  .update-container {
    margin: 24px auto;
    width: 100%;
    background: #fcdef0;
  }  
  
  .favMovies-container {
    padding: 5%;
    display: grid;
    grid-template-columns: repeat( auto-fit, minmax(250px, 1fr) );
    gap: 16px;
  }

  .favMovie-card-container {
    margin: 24px auto;
    background: #fcdef0;
    padding: 18px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #fcdef0;
  }
  
  .update-form,
  .update-header {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

.btn {
    background-color: #b44772;
    color: white;
    flex-direction: column;
    display: flex;
}
.btn-remove {
  background-color: #b44772;
  color: white;
}
.favMovie-card-actions-container {
  text-align: center;
}

.title {
    border-bottom: 1px solid #b44772;
}
  
  .update-form {
    height: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
  }
  
 