h2 {
    margin-top: 50px;
    text-align: center;
    font-size: 30px;
  }
  
  .update-container {
    margin: 24px auto;
    width: 100%;
    background: #fcdef0;
  }
  .favMovies-container {
    margin: 24px auto;
    width: 100%;
    background: #fcdef0;
  }
  
  .update-form,
  .update-header {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

.btn {
    background-color: #b44772;
    color: white;
    flex-direction: column;
    display: flex;
}

.title {
    border-bottom: 1px solid #b44772;
}
  
  .update-form {
    height: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
  }
  
 